* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%; /*disable horizontal scroll*/
    overflow-x: hidden; 
}

table#example1 {
    caption-side: top;
}

caption {
    caption-side: top;
}


div.col-lg-4.mw-100.first {
    position: relative;
}

 div.col-lg-4.mw-100.first:after {
    content: '';
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 25%;
	border-bottom: 3px solid #64CC27;
} 

div.col-lg-4.mw-100.second {
    position: relative;
}

div.col-lg-4.mw-100.second:after {
    content: '';
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 50%;
	border-bottom: 3px solid #64CC27;
}

div.col-lg-4.mw-100.third {
    position: relative;
}

div.col-lg-4.mw-100.third:after {
    content: '';
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 75%;
	border-bottom: 3px solid #64CC27;
}

/*---------------------- new styles------------ */
img.logo {
    margin-left: 55px;
    width: 130px;
    padding-right:40px; 
    border-right: 1px solid #ccc;
}

div#grad {
    margin-top: 80px;
    margin-left: 150px;
}

.fa-map-marker-alt {
    margin-left: 20px;
    color: #2e80d1;
    font-size: 35px;
}

p.menu_text {
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Open Sans';
}

button,p {
    font-family: 'Open Sans'; 
}

h2,h3 {
    font-family: 'Montserrat';
}

a.nav-link {
    padding: 25px;
    font-family: 'Open Sans';
}

a.nav-link:hover:nth-child(1){
    color: #1f2f8b;
    border-bottom: 3px solid #62c92c;
}

a.nav-link:hover:nth-child(2){
    color: #1f2f8b;
    border-bottom: 3px solid #62c92c;
}

a.nav-link:hover:nth-child(3){
    color: #1f2f8b;
    border-bottom: 3px solid #62c92c;
}

a.nav-link:hover:nth-child(4){
    color: #1f2f8b;
    border-bottom: 3px solid #62c92c;
}

img#mom{
    height: 400px;
    width: 450px;
    border-radius: 50%;
}

#collapsibleNavbar {
    margin-right: 55px;
}

#top {
    margin-top: -600px;
}


img.hero {
    width: 100%;
    height: 60%;
}

h2.grad {
    display: inline;
    background: linear-gradient(90deg, #62c92c 40%, #2e80d1 100%);
    color: white;
    padding: 5px;
    font-family: 'Montserrat';
}

.top_text {
    font-family: 'Open Sans';
}

.card-title {
    font-family: 'Montserrat';
}

.card-text {
    font-family: 'Open Sans';
}

h2.kek {
    display: inline;
    font-family: 'Montserrat';
}

p.over1 {
    display: inline;
    font-family: 'Montserrat';
    color:black;
    font-size: 20px;
    margin-left: 105px;
    margin-top: 20px;
}

.end-page2 button {
    background-color: #62c92c;
    border-radius: 25px;
    color:white;
    border: none;
    font-size: 20px !important;
    width: 200px;
    height: 40px;
}

.fero {
    background-color: #62c92c;
    border-radius: 25px;
    color:white;
    border: none;
    font-size: 18px !important;
    width: 150px;
    height: 40px;
    margin-bottom: 5px;
    margin-left: 55px;
}

.jozo{
    background-color: #2e80d1;
    border-radius: 25px;
    color:white;
    border: none;
    font-size: 18px !important;
    width: 150px;
    height: 40px;
    margin-left: 55px;
}

.end-page3 h2 {
    margin-left: 100px;
    font-size: 25px !important;
}


div#over {
    position: absolute;
    top: 0; 
    left:-20px; 
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    height: 70px;
    padding: 20px;
    z-index: 100;
    margin-bottom: 50px;
}

p.over2 {
    display: inline;
    background: linear-gradient(90deg, #62c92c 40%, #2e80d1 100%);
    color: white;
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 20px;
    margin-top: 20px;
}

p.top_text {
    font-family: 'Open Sans';
}

div#grey {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #eee;
    height: 300px;
    z-index: -1;
}

/* div#blue {
    position: relative;
    background-color:#2e80d1;
    height: 350px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
} */

div#cce {
    position: relative;
    background-color:#c8ecec;
    height: 250px;
    display: flex;
    align-items: center;
}

p.textik {
    font-size: 14px !important;
}

.first {
    margin-right: 10px;
    background-color: #eefcfc;
    padding: 15px;
    color: black;
}


div#odkaz {
    margin-top: -150px;
}

.info_img {
    margin-bottom: 25px;
}

div#iconS {
    margin-left: 95px;
    border: none;
}

.card {
    word-wrap: none;
}


/*hero overlay */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
}

div#text {
    opacity: 1;
    color: white;
    margin-left: 55px;
    margin-top: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
}

div#text h1 {
    font-family: "MV Boli";
    font-size: 40px;
}

p.txt1 {
    font-family: 'Montserrat';
}

/* p.txt2 {
    font-family: 'Open Sans', ;
} */

#hero-overlay {
    position: absolute;
    top: 100;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /*instead of opacity:0.3, this will not affect opacity for the element div#text*/
}

p {
    font-size: 20px !important;
  }
  
  h1 {
    font-size: 40px !important;
  }
  
  h2 {
    font-size: 35px !important;
  }
  
  h3 {
    font-size: 30px !important;
  }
  
  .dostupne-kurzy {
    background-color: #62c92c;
    display: inline-block;
  }
  .dostupne-kurzy h3 {
    color: white;
  }
  .dostupne-kurzy button {
    background-color: #2e80d1;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 20px !important;
    width: 150px;
  }

  .ahref {
      color: white;
      font-family: 'Open Sans';
      /* white-space: nowrap; */
  }


  .col-lg-4 {
    padding: 0px !important;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 0px;
    width: 70%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: #62c92c;
    padding: 0 !important;
  }

  
  a {
    color: white;
  }
  a:hover {
    color: white;
  }
  
  .blue {
    background-color: #2e80d1;
  }
  
  .end-page button {
    background-color: #2e80d1;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 20px !important;
    width: 200px;
    height: 40px;
  }
  
  .telocvicna {
    background-image: url("assets/telocvicna.jpg");
    background-position: 100% 50%;
    background-size: 100%;
    height: 300px;
  }
  
  .seminarna-miestnost {
    background-image: url("assets/chairs-2181980_1920.jpg");
    background-position: 100% 80%;
    background-size: 100%;
    height: 300px;
  }
  
  .mid-info h1 {
    text-align: center;
    max-width: 70%;
    color: white;
    background: #62c92c;
    background: linear-gradient(90deg, #62c92c 40%, #2e80d1 100%);
  }
  .mid-info h3 {
    background-color: white;
    max-width: 40%;
    margin-left: -30%;
    color: #6a6a6a;
  }
  
  .galeria h1 {
    text-align: center;
    color: white;
  }
  .galeria img {
    max-width: 100%;
    height: auto;
    margin-left: 13px;
  }
  
  .col-lg-2 {
    padding: 0px !important;
  }
  
  .pb-2, .py-2 {
    padding-bottom: 0rem !important;
  }
  
  footer {
    background-color: #e2f5f5;
  }
  footer h3 {
    color: #62c92c;
  }
  footer img {
    max-width: 175px;
    height: auto;
  }
  footer p {
    color: #6a6a6a;
  }
  footer .ikonky a {
    display: inline-block !important;
    color: black !important;
  }
  footer .ikonky a:first-child {
    margin-right: 10px;
  }
  footer a {
    display: block;
    color: #6a6a6a;
    font-size: 20px;
  }
  footer a:hover {
    color: #6a6a6a;
  }
  footer button {
    border: none;
    background-color: #62c92c;
    color: white;
    border-radius: 25px;
    padding: 5px 15px;
  }
  footer input, footer textarea {
    max-width: 90%;
  }
  footer .last-window font {
    display: block;
    text-transform: uppercase;
  }
  
  .end-of-page {
    color: white;
    background: #62c92c;
    background: linear-gradient(138deg, #62c92c 40%, #2e80d1 100%);
  }
  
  /*# sourceMappingURL=style.css.map */

@media only screen and (max-width: 1920px){  
    #top { 
        margin-top: 900px;
    }
}

@media only screen and (max-width: 414px){
    #top {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .fa-map-marker-alt {
        display: none;
        visibility: hidden;
    }

    p.menu_text {
        display: none;
    }

    img.logo {
        border: none;
        margin-left: 25px;
    }

    /* div#blue {
        height: 800px;
    } */

    div#grey {
        height: 800px;
    }

    #collapsibleNavbar {
        margin-right: 0px;
    }

    div#grad {
        margin-left: 20px   ;
    }

    div#cce {
        height: 700px;
        display: flex;
        flex-direction: column;
    }

    div#row {
        margin-left: 0;
    }

    div#odkaz {
        margin-left: -150px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .first {
        margin-bottom: 10px;
    }

    div#iconS {
        margin-left: 0;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 375px){ 

    #top {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .fa-map-marker-alt {
        display: none;
        visibility: hidden;
    }

    p.menu_text {
        display: none;
    }

    img.logo {
        border: none;
        margin-left: 25px;
    }

    /* div#blue {
        height: 800px;
    } */

    div#grey {
        height: 800px;
    }

    #collapsibleNavbar {
        margin-right: 0px;
    }

    div#grad {
        margin-left: 20px   ;
    }

    div#cce {
        height: 700px;
        display: flex;
        flex-direction: column;
    }

    div#row {
        margin-left: 0;
    }
    
    div#odkaz {
        margin-left: -150px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .first {
        margin-bottom: 10px;
    }

    div#iconS {
        margin-left: 0;
        margin-top: 20px;
    }

}

/* ---------------------- end new styles -------------------------------------*/

div#first {
    margin-left: 25px;
}

input#text{
    padding: 12px 20px;
    margin: 9px 0;
    box-sizing: border-box;
    border-radius: 10px;
    width: 40%;
    color: #1f2f8b;
}

::placeholder { 
    color: #1f2f8b;
    opacity: 1;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
} 

h3.news_head {
    color: #eee;
}

p.head_para {
    color: #eee;
}


::-webkit-scrollbar {
	display: none;
}


li.sub_menu {
    border: 1px solid #64CC27;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

li.sub_menu:hover {
    border: 1px solid #1f2f8b;
}

a.sub {
    font-family: 'Open Sans'; 
    font-size: 18px;
    color: #1f2f8b;
}

.fa-user-circle {
    color: #1f2f8b;
    margin-right: 20px;
}

.fa-history {
    color: #1f2f8b;
    margin-right: 20px;
}

.fa-newspaper {
    color: #1f2f8b;
    margin-right: 20px;
}

.fa-credit-card {
    color: #1f2f8b;
    margin-right: 20px;
}

.fa-power-off {
    color: #1f2f8b;
    margin-right: 20px;
}

.fa-calendar-alt{
    color: #1f2f8b;
    margin-right: 20px;
}

.fa-glass-cheers {
    color: #1f2f8b;
    margin-right: 20px;
}

.fa-poll-h {
    color: #1f2f8b;
    margin-right: 20px;
}

p.infor {
    font-family: 'Open Sans'; 
    font-size: 18px;
}

a.sub:hover {
    text-decoration: none;
}

ul#ulek {
    width: 100%;
}


ul.navbar-nav {
    margin-right: 35px;
}


div.col-lg-5 {
    padding: 35px;
    background-color: #64CC27;
    font-family: 'Open Sans'; 
    text-align: center;
    margin: 15px;
    color: #fff;
    font-size: 20px;
}

p.p_hd {
    font-family: 'Open Sans'; ;
    margin-bottom: 40px;
    text-align: justify;
}

ul#list {
    margin-bottom: 40px;
}

h2.kurz1 {
    font-family: 'Montserrat';
    margin-bottom: 25px;
    color: #64CC27;
}

h2.kurz_hd {
    font-family: 'Montserrat';
    margin-bottom: 25px;
    font-size: 24px;
    color: #64CC27;
    text-transform: capitalize;
}

a.program-links {
    color: white;
    font-family: 'Open Sans'; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

a.program-links:hover {
    text-decoration: none;
    color: white;
}

btn.program_btn {
    border: none;
}

img.ccc {
    width: 15%;
    float: right;
    position: relative;
    top: -75px;
}

article{
    margin-top: -10px;
    font-family: 'Open Sans'; 
    color: #666;
}

p.program {
    margin-top: -15px;
    font-weight: bold;
    font-family: 'Open Sans'; 
}

button.program_btn {
    margin-top: 20px;
    border-radius: 15px;
    font-family: 'Open Sans'; 
}

h2.heading2 {
    margin-left: 75px;
    font-family: 'Montserrat';
    font-size: 20px;
}

h2.heading {
    margin-left: 75px;
    font-family: 'Montserrat';
    font-size: 20px;
}

h2.heading3 {
    margin-left: 75px;
    font-family: 'Montserrat';
    font-size: 20px;
}

p.text-bold {
    font-family: 'Open Sans'; 
    font-weight: bold;
}

div.col-xs-12{
    margin-left: -15px;
}

h2.heading3 {
    margin-top: -25px;
    z-index: 100;
}

#cert {
    margin-left: 30px;
}

p.text-bold1 {
    font-family: 'Open Sans'; 
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-left: 20px;
}

p.sample-text{
    font-family: 'Open Sans'; 
    margin-left: 20px;
    color: #999;
    font-size: 12px;
}

.haha img {
    float:right;
}


a.black_a {
    font-family: 'Open Sans'; 
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
    color: black;
}

a.black_a:hover {
    color: black;
}

a.white_a {
    font-family: 'Open Sans'; 
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
    color: white;
}

a.white_a:hover {
    color: white;
}

img.isic {
    margin-top: -93px;
    margin-right: 15px;
}

.bolded {
    font-family: 'Open Sans'; 
    font-weight: bold;
}

.wrapped {
    font-family: 'Open Sans'; 
    font-weight: 400;
}

.bolded, .wrapped {
    margin-left: 25px;
    margin-top: 25px;
}

h5 {
    font-family: 'Montserrat';
}

.list-unstyled {
    font-family: 'Open Sans'; 
}

a.footer-links {
    font-family: 'Open Sans'; 
    color: #273790;
}


.fas.fa-file-pdf {
    color: #ea382e;
    align-content: center;
}

table#first_left tr td {
    box-shadow: 2px 2px 6px 2px rgba(218, 223, 225, 1), 2px 2px 8px 2px rgba(218, 223, 225, 1);
    font-family: 'Open Sans'; 
}

hr.line {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 50px;
}

h2.info_heading {
    font-family: 'Montserrat';
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 50px;
}

p.info_text {
    font-family: 'Open Sans'; 
    color: #d0d0d0;
    margin-bottom: 25px;
}

h3.heading_tri {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 45px;
}

#btn_send {
    background-color: #273790;
    width: 120px;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans'; 
    font-weight: bold;
    font-size: 14px;
}

.col-lg-6.mw-100 {
    padding: 55px;
}

h5.font-weight-bold.mt-3.mb-4 {
    font-family: 'Open Sans'; 
}

li.greyed {
    font-family: 'Open Sans'; 
    color: #d0d0d0;
}

h2#top {
    margin-top: 35px;
}

div#max{
    height: 1000px;
}

#small_program {
    margin-left: -20px;
    position: relative;
    bottom: -160px;
    z-index: 1;
}

p.info_heading {
    font-family: 'Open Sans'; 
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 45px;
}

p.program1 {
    font-family: 'Open Sans'; 
    font-size: 12px;
    position: relative;
    top: 25px;
}

img.icons {
    width: 15%;
    float: right;
    position: relative;
    top: -75px;
}

img.icons1 {
    width: 15%;
    float: right;
    position: relative;
    top: -90px;
}

/*nastavenie respozivity elementov na prislusne rozlisenie*/

@media only screen and (max-width: 375px){

    li.nav-item a{
        margin-bottom: -20px;
    }

    tr.tab:nth-child(2) {
        color: red;
    }

    .grid {
        flex-direction: column;
        border-bottom: 1px solid white;
    }

    .grid--main {
        height: 1200px;
        border-bottom: 3px solid white;
    }

    .grid--col {
        height: 1200px;
        border-bottom: 3px solid white;
    }

    .grid__item {
        border-bottom: 3px solid white;
    }
  
    #second {
        position: relative;
        left: -35px;
    }

    h2.heading2 {
        position: relative;
        left: -35px;
    }

    h1.heading {
        position: relative;
        left: -35px;
    }

    h2.heading3 {
        position: relative;
        left: -35px;
    }

    div#cert {
        position: relative;
        left: -10px;
    }

    img.icons {
        width: 15%;
        float: right;
    }
    
    img.icons1 {
        width: 15%;
        float: right;
        position: relative;
        top: -90px;
    }
  }

  @media only screen and (max-width: 414px){

    .grid {
        flex-direction: column;
        border-bottom: 1px solid white;
    }

    .grid--main {
        height: 1200px;
        border-bottom: 3px solid white;
    }

    .grid--col {
        height: 1200px;
        border-bottom: 3px solid white;
    }

    .grid__item {
        border-bottom: 3px solid white;
    }

    h2.heading2 {
        position: relative;
        left: -35px;
    }

    h1.heading {
        position: relative;
        left: -35px;
    }

    h2.heading3 {
        position: relative;
        left: -35px;
    }

    div#cert {
        position: relative;
        left: -10px;
    }
  }

  @media only screen and (max-width: 320px){

    img.logo {
        width: 100px;
    }

    .grid {
        flex-direction: column;
        border-bottom: 1px solid white;
    }

    .grid--main {
        height: 1200px;
        border-bottom: 3px solid white;
    }

    .grid--col {
        height: 1200px;
        border-bottom: 3px solid white;
    }

    .grid__item {
        border-bottom: 3px solid white;
    }
  
    h2.heading2 {
        position: relative;
        left: -35px;
    }

    h1.heading {
        position: relative;
        left: -35px;
    }

    h2.heading3 {
        position: relative;
        left: -35px;
    }

    div#cert {
        position: relative;
        left: -10px;
    }
  }  